### People:

contributors of common repositories outside the event, common event num, collaboration frequency on GitHub

0. Features of project and hackathon

In [ ]:
# DO $$
# DECLARE
#     table_name TEXT;
#     tables TEXT[] := ARRAY[
#         'terminated_2y', 'terminated_6m',
#         'sustained_2y', 'sustained_6m',
#         'triggered_2y', 'triggered_6m',
#         'temporary_2y', 'temporary_6m'
#     ];
# BEGIN
#     FOREACH table_name IN ARRAY tables
#     LOOP
#         EXECUTE format('
#             ALTER TABLE %I 
#             ADD COLUMN IF NOT EXISTS h_duration INTEGER,
#             ADD COLUMN IF NOT EXISTS is_offline_event INTEGER,
#             ADD COLUMN IF NOT EXISTS hackathon_contributor_size INTEGER,
#             ADD COLUMN IF NOT EXISTS team_contributor_size INTEGER,
#             ADD COLUMN IF NOT EXISTS hackathon_id INTEGER,
#             ADD COLUMN IF NOT EXISTS hackathon_participants_size INTEGER,
#             ADD COLUMN IF NOT EXISTS hackathon_size INTEGER
#         ', table_name);
        
#         EXECUTE format('
#             UPDATE %I pairs
#             SET 
#                 h_duration = p.h_duration,
#                 is_offline_event = p.is_offline_event,
#                 hackathon_contributor_size = p.hackathon_contributor_size,
#                 team_contributor_size = p.team_contributor_size_during,
#                 hackathon_id = p.hackathon_id,
#                 hackathon_participants_size = p.hackathon_participants_size,
#                 hackathon_size = p.hackathon_size
#             FROM projects_clean p
#             WHERE pairs.project_id = p.project_id
#         ', table_name);
        
#         RAISE NOTICE 'FInished: %', table_name;
#     END LOOP;
# END $$;

1. Common event num & Common project num

In [ ]:
# -- 1. Common event num
# ALTER TABLE public.colab_pairs_multi_proj
# ADD COLUMN common_event_num integer;

# UPDATE public.colab_pairs_multi_proj
# SET common_event_num = COALESCE(array_length(hack_ids, 1), 0);

In [ ]:
# -- 2. Common project num
# ALTER TABLE public.colab_pairs_multi_proj
# ADD COLUMN common_project_num integer;

# UPDATE public.colab_pairs_multi_proj
# SET common_project_num = COALESCE(array_length(project_ids, 1), 0);

In [ ]:
# ALTER TABLE colab_pairs_multi_proj ADD COLUMN IF NOT EXISTS common_event_num INTEGER;

# UPDATE colab_pairs_multi_proj 
# SET common_event_num = array_length(hack_ids, 1);

# CREATE INDEX IF NOT EXISTS idx_multi_user_pair ON colab_pairs_multi_proj(user1_id, user2_id);

# ALTER TABLE triggered_6m ADD COLUMN common_event_num INTEGER;
# ALTER TABLE triggered_2y ADD COLUMN common_event_num INTEGER;
# ALTER TABLE terminated_6m ADD COLUMN common_event_num INTEGER;
# ALTER TABLE terminated_2y ADD COLUMN common_event_num INTEGER;
# ALTER TABLE sustained_6m ADD COLUMN common_event_num INTEGER;
# ALTER TABLE sustained_2y ADD COLUMN common_event_num INTEGER;
# ALTER TABLE temporary_6m ADD COLUMN common_event_num INTEGER;
# ALTER TABLE temporary_2y ADD COLUMN common_event_num INTEGER;

# UPDATE triggered_6m t
# SET common_event_num = COALESCE(m.common_event_num, 1)
# FROM colab_pairs_multi_proj m
# WHERE t.user1_id = m.user1_id AND t.user2_id = m.user2_id;

# UPDATE triggered_2y t
# SET common_event_num = COALESCE(m.common_event_num, 1)
# FROM colab_pairs_multi_proj m
# WHERE t.user1_id = m.user1_id AND t.user2_id = m.user2_id;

# UPDATE terminated_6m t
# SET common_event_num = COALESCE(m.common_event_num, 1)
# FROM colab_pairs_multi_proj m
# WHERE t.user1_id = m.user1_id AND t.user2_id = m.user2_id;

# UPDATE terminated_2y t
# SET common_event_num = COALESCE(m.common_event_num, 1)
# FROM colab_pairs_multi_proj m
# WHERE t.user1_id = m.user1_id AND t.user2_id = m.user2_id;

# UPDATE sustained_6m t
# SET common_event_num = COALESCE(m.common_event_num, 1)
# FROM colab_pairs_multi_proj m
# WHERE t.user1_id = m.user1_id AND t.user2_id = m.user2_id;

# UPDATE sustained_2y t
# SET common_event_num = COALESCE(m.common_event_num, 1)
# FROM colab_pairs_multi_proj m
# WHERE t.user1_id = m.user1_id AND t.user2_id = m.user2_id;

# UPDATE temporary_6m t
# SET common_event_num = COALESCE(m.common_event_num, 1)
# FROM colab_pairs_multi_proj m
# WHERE t.user1_id = m.user1_id AND t.user2_id = m.user2_id;

# UPDATE temporary_2y t
# SET common_event_num = COALESCE(m.common_event_num, 1)
# FROM colab_pairs_multi_proj m
# WHERE t.user1_id = m.user1_id AND t.user2_id = m.user2_id;

In [ ]:
# SELECT 
#     'triggered_6m' as table_name,
#     COUNT(*) as total_rows,
#     COUNT(common_event_num) as non_null_count,
#     MIN(common_event_num) as min_value,
#     MAX(common_event_num) as max_value,
#     AVG(common_event_num)::numeric(10,2) as avg_value
# FROM triggered_6m
# UNION ALL
# SELECT 'triggered_2y', COUNT(*), COUNT(common_event_num), MIN(common_event_num), MAX(common_event_num), AVG(common_event_num)::numeric(10,2) FROM triggered_2y
# UNION ALL
# SELECT 'terminated_6m', COUNT(*), COUNT(common_event_num), MIN(common_event_num), MAX(common_event_num), AVG(common_event_num)::numeric(10,2) FROM terminated_6m
# UNION ALL
# SELECT 'terminated_2y', COUNT(*), COUNT(common_event_num), MIN(common_event_num), MAX(common_event_num), AVG(common_event_num)::numeric(10,2) FROM terminated_2y
# UNION ALL
# SELECT 'sustained_6m', COUNT(*), COUNT(common_event_num), MIN(common_event_num), MAX(common_event_num), AVG(common_event_num)::numeric(10,2) FROM sustained_6m
# UNION ALL
# SELECT 'sustained_2y', COUNT(*), COUNT(common_event_num), MIN(common_event_num), MAX(common_event_num), AVG(common_event_num)::numeric(10,2) FROM sustained_2y
# UNION ALL
# SELECT 'temporary_6m', COUNT(*), COUNT(common_event_num), MIN(common_event_num), MAX(common_event_num), AVG(common_event_num)::numeric(10,2) FROM temporary_6m
# UNION ALL
# SELECT 'temporary_2y', COUNT(*), COUNT(common_event_num), MIN(common_event_num), MAX(common_event_num), AVG(common_event_num)::numeric(10,2) FROM temporary_2y;

# UPDATE temporary_6m
# SET common_event_num = 1
# WHERE common_event_num IS NULL;

# UPDATE temporary_2y
# SET common_event_num = 1
# WHERE common_event_num IS NULL;

# UPDATE triggered_6m SET common_event_num = 1 WHERE common_event_num IS NULL;
# UPDATE triggered_2y SET common_event_num = 1 WHERE common_event_num IS NULL;
# UPDATE terminated_6m SET common_event_num = 1 WHERE common_event_num IS NULL;
# UPDATE terminated_2y SET common_event_num = 1 WHERE common_event_num IS NULL;
# UPDATE sustained_6m SET common_event_num = 1 WHERE common_event_num IS NULL;
# UPDATE sustained_2y SET common_event_num = 1 WHERE common_event_num IS NULL;


# SELECT 
#     'temporary_6m' as table_name,
#     COUNT(*) as total_rows,
#     COUNT(common_event_num) as non_null_count,
#     COUNT(*) - COUNT(common_event_num) as null_count
# FROM temporary_6m;


# SELECT 
#     'temporary_6m' as table_name,
#     common_event_num,
#     COUNT(*) as count
# FROM temporary_6m
# GROUP BY common_event_num
# ORDER BY common_event_num;

In [ ]:


# ALTER TABLE colab_pairs_multi_proj ADD COLUMN IF NOT EXISTS common_project_num INTEGER;

# UPDATE colab_pairs_multi_proj 
# SET common_project_num = array_length(project_ids, 1);

# CREATE INDEX IF NOT EXISTS idx_multi_user_pair ON colab_pairs_multi_proj(user1_id, user2_id);

# ALTER TABLE triggered_6m ADD COLUMN common_project_num INTEGER;
# ALTER TABLE triggered_2y ADD COLUMN common_project_num INTEGER;
# ALTER TABLE terminated_6m ADD COLUMN common_project_num INTEGER;
# ALTER TABLE terminated_2y ADD COLUMN common_project_num INTEGER;
# ALTER TABLE sustained_6m ADD COLUMN common_project_num INTEGER;
# ALTER TABLE sustained_2y ADD COLUMN common_project_num INTEGER;
# ALTER TABLE temporary_6m ADD COLUMN common_project_num INTEGER;
# ALTER TABLE temporary_2y ADD COLUMN common_project_num INTEGER;

# UPDATE triggered_6m t
# SET common_project_num = COALESCE(m.common_project_num, 1)
# FROM colab_pairs_multi_proj m
# WHERE t.user1_id = m.user1_id AND t.user2_id = m.user2_id;

# UPDATE triggered_2y t
# SET common_project_num = COALESCE(m.common_project_num, 1)
# FROM colab_pairs_multi_proj m
# WHERE t.user1_id = m.user1_id AND t.user2_id = m.user2_id;

# UPDATE terminated_6m t
# SET common_project_num = COALESCE(m.common_project_num, 1)
# FROM colab_pairs_multi_proj m
# WHERE t.user1_id = m.user1_id AND t.user2_id = m.user2_id;

# UPDATE terminated_2y t
# SET common_project_num = COALESCE(m.common_project_num, 1)
# FROM colab_pairs_multi_proj m
# WHERE t.user1_id = m.user1_id AND t.user2_id = m.user2_id;

# UPDATE sustained_6m t
# SET common_project_num = COALESCE(m.common_project_num, 1)
# FROM colab_pairs_multi_proj m
# WHERE t.user1_id = m.user1_id AND t.user2_id = m.user2_id;

# UPDATE sustained_2y t
# SET common_project_num = COALESCE(m.common_project_num, 1)
# FROM colab_pairs_multi_proj m
# WHERE t.user1_id = m.user1_id AND t.user2_id = m.user2_id;

# UPDATE temporary_6m t
# SET common_project_num = COALESCE(m.common_project_num, 1)
# FROM colab_pairs_multi_proj m
# WHERE t.user1_id = m.user1_id AND t.user2_id = m.user2_id;

# UPDATE temporary_2y t
# SET common_project_num = COALESCE(m.common_project_num, 1)
# FROM colab_pairs_multi_proj m
# WHERE t.user1_id = m.user1_id AND t.user2_id = m.user2_id;

In [ ]:
# SELECT 
#     'triggered_6m' as table_name,
#     COUNT(*) as total_rows,
#     COUNT(common_project_num) as non_null_count,
#     MIN(common_project_num) as min_value,
#     MAX(common_project_num) as max_value,
#     AVG(common_project_num)::numeric(10,2) as avg_value
# FROM triggered_6m
# UNION ALL
# SELECT 'triggered_2y', COUNT(*), COUNT(common_project_num), MIN(common_project_num), MAX(common_project_num), AVG(common_project_num)::numeric(10,2) FROM triggered_2y
# UNION ALL
# SELECT 'terminated_6m', COUNT(*), COUNT(common_project_num), MIN(common_project_num), MAX(common_project_num), AVG(common_project_num)::numeric(10,2) FROM terminated_6m
# UNION ALL
# SELECT 'terminated_2y', COUNT(*), COUNT(common_project_num), MIN(common_project_num), MAX(common_project_num), AVG(common_project_num)::numeric(10,2) FROM terminated_2y
# UNION ALL
# SELECT 'sustained_6m', COUNT(*), COUNT(common_project_num), MIN(common_project_num), MAX(common_project_num), AVG(common_project_num)::numeric(10,2) FROM sustained_6m
# UNION ALL
# SELECT 'sustained_2y', COUNT(*), COUNT(common_project_num), MIN(common_project_num), MAX(common_project_num), AVG(common_project_num)::numeric(10,2) FROM sustained_2y
# UNION ALL
# SELECT 'temporary_6m', COUNT(*), COUNT(common_project_num), MIN(common_project_num), MAX(common_project_num), AVG(common_project_num)::numeric(10,2) FROM temporary_6m
# UNION ALL
# SELECT 'temporary_2y', COUNT(*), COUNT(common_project_num), MIN(common_project_num), MAX(common_project_num), AVG(common_project_num)::numeric(10,2) FROM temporary_2y;

# UPDATE temporary_6m
# SET common_project_num = 1
# WHERE common_project_num IS NULL;

# UPDATE temporary_2y
# SET common_project_num = 1
# WHERE common_project_num IS NULL;

# UPDATE triggered_6m SET common_project_num = 1 WHERE common_project_num IS NULL;
# UPDATE triggered_2y SET common_project_num = 1 WHERE common_project_num IS NULL;
# UPDATE terminated_6m SET common_project_num = 1 WHERE common_project_num IS NULL;
# UPDATE terminated_2y SET common_project_num = 1 WHERE common_project_num IS NULL;
# UPDATE sustained_6m SET common_project_num = 1 WHERE common_project_num IS NULL;
# UPDATE sustained_2y SET common_project_num = 1 WHERE common_project_num IS NULL;

# SELECT 
#     'temporary_6m' as table_name,
#     COUNT(*) as total_rows,
#     COUNT(common_project_num) as non_null_count,
#     COUNT(*) - COUNT(common_project_num) as null_count
# FROM temporary_6m;

# SELECT 
#     'temporary_6m' as table_name,
#     common_project_num,
#     COUNT(*) as count
# FROM temporary_6m
# GROUP BY common_project_num
# ORDER BY common_project_num;

2. Time from first common project to last common project

In [ ]:
# -- add time (days) field
# ALTER TABLE colab_pairs_single_proj ADD COLUMN time INTEGER;

# UPDATE colab_pairs_single_proj
# SET time = EXTRACT(EPOCH FROM (first_proj_end - first_proj_start)) / 86400;

# ALTER TABLE colab_pairs_multi_proj ADD COLUMN time INTEGER;

# UPDATE colab_pairs_multi_proj
# SET time = EXTRACT(EPOCH FROM (last_proj_end - first_proj_start)) / 86400;

In [ ]:
# ALTER TABLE triggered_6m ADD COLUMN time INTEGER;
# ALTER TABLE triggered_2y ADD COLUMN time INTEGER;
# ALTER TABLE terminated_6m ADD COLUMN time INTEGER;
# ALTER TABLE terminated_2y ADD COLUMN time INTEGER;
# ALTER TABLE sustained_6m ADD COLUMN time INTEGER;
# ALTER TABLE sustained_2y ADD COLUMN time INTEGER;
# ALTER TABLE temporary_6m ADD COLUMN time INTEGER;
# ALTER TABLE temporary_2y ADD COLUMN time INTEGER;

# -- for single event pairs（common_project_num = 1）
# UPDATE triggered_6m t SET time = s.time FROM colab_pairs_single_proj s WHERE t.user1_id = s.user1_id AND t.user2_id = s.user2_id AND t.common_project_num = 1;
# UPDATE triggered_2y t SET time = s.time FROM colab_pairs_single_proj s WHERE t.user1_id = s.user1_id AND t.user2_id = s.user2_id AND t.common_project_num = 1;
# UPDATE terminated_6m t SET time = s.time FROM colab_pairs_single_proj s WHERE t.user1_id = s.user1_id AND t.user2_id = s.user2_id AND t.common_project_num = 1;
# UPDATE terminated_2y t SET time = s.time FROM colab_pairs_single_proj s WHERE t.user1_id = s.user1_id AND t.user2_id = s.user2_id AND t.common_project_num = 1;
# UPDATE sustained_6m t SET time = s.time FROM colab_pairs_single_proj s WHERE t.user1_id = s.user1_id AND t.user2_id = s.user2_id AND t.common_project_num = 1;
# UPDATE sustained_2y t SET time = s.time FROM colab_pairs_single_proj s WHERE t.user1_id = s.user1_id AND t.user2_id = s.user2_id AND t.common_project_num = 1;
# UPDATE temporary_6m t SET time = s.time FROM colab_pairs_single_proj s WHERE t.user1_id = s.user1_id AND t.user2_id = s.user2_id AND t.common_project_num = 1;
# UPDATE temporary_2y t SET time = s.time FROM colab_pairs_single_proj s WHERE t.user1_id = s.user1_id AND t.user2_id = s.user2_id AND t.common_project_num = 1;

# -- for multiple events cases（common_project_num > 1）
# UPDATE triggered_6m t SET time = m.time FROM colab_pairs_multi_proj m WHERE t.user1_id = m.user1_id AND t.user2_id = m.user2_id AND t.common_project_num > 1;
# UPDATE triggered_2y t SET time = m.time FROM colab_pairs_multi_proj m WHERE t.user1_id = m.user1_id AND t.user2_id = m.user2_id AND t.common_project_num > 1;
# UPDATE terminated_6m t SET time = m.time FROM colab_pairs_multi_proj m WHERE t.user1_id = m.user1_id AND t.user2_id = m.user2_id AND t.common_project_num > 1;
# UPDATE terminated_2y t SET time = m.time FROM colab_pairs_multi_proj m WHERE t.user1_id = m.user1_id AND t.user2_id = m.user2_id AND t.common_project_num > 1;
# UPDATE sustained_6m t SET time = m.time FROM colab_pairs_multi_proj m WHERE t.user1_id = m.user1_id AND t.user2_id = m.user2_id AND t.common_project_num > 1;
# UPDATE sustained_2y t SET time = m.time FROM colab_pairs_multi_proj m WHERE t.user1_id = m.user1_id AND t.user2_id = m.user2_id AND t.common_project_num > 1;
# UPDATE temporary_6m t SET time = m.time FROM colab_pairs_multi_proj m WHERE t.user1_id = m.user1_id AND t.user2_id = m.user2_id AND t.common_project_num > 1;
# UPDATE temporary_2y t SET time = m.time FROM colab_pairs_multi_proj m WHERE t.user1_id = m.user1_id AND t.user2_id = m.user2_id AND t.common_project_num > 1;

3. Numbers of repos before: AVG(user1, user2)

4. Numbers of contributors of repos outside before: AVG(user1repos1, ..., user1repom, user2repo1, ...,user2repon)

in 08_update_pair_features.sql