In [ ]:
# SELECT
#   collaboration,
#   COUNT(*) AS n,
#   ROUND(
#     COUNT(*) * 100.0 / SUM(COUNT(*)) OVER (),
#     2
#   ) AS pct
# FROM public.dataset_trimmed_2y
# GROUP BY collaboration
# ORDER BY n DESC;